.Item {
  display: flex;
  flex-flow: row nowrap;
}

.Item div {
  flex-flow: column nowrap;
  text-align: left;
  margin-inline-end: 1.414rem;
}
.Item div:first-child {
  padding-top: 2.75rem;
}
.Item div:last-child {
  flex: 1 1;
}
